.container {
  font-family: 'Helvetica';
  font-size: 1.5rem;
}

.App {
  position: relative;
  text-align: center;
  padding: 0 20px;
  margin: 40px auto 0;
  width: 45%;
  border-top: 20px solid white;
  height: 350px;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 7px 29px -6px rgba(0,0,0,0.63);
}
.App::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  opacity: .2;
  letter-spacing: 2px;
  color: #0099ff;
  text-align: center;
}
.App p {
  padding:0 0 5px;
  border-bottom: 1px solid #aaa5;
}
.header input {
  width: 80%;
  height: 40px;
  padding: 0 0 0 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #0000;
  font-size: 1.5rem;
  box-sizing: border-box;
  transition: border 0.4s;
}
.header input:focus {
  border-bottom: 1px solid grey;
}
.header input::placeholder {
  opacity: .5;
}
.header img {
  width: 40px;
  height: 40px;
}
.allDone {
  opacity: .4;
}
